@import '../global';

.container{
     padding: 14px 20px;
     display: flex;
     background-color: blue;
     justify-content: space-between;
}
.header{
     &__logo{
          align-items: center;
          span{
               @include font(20px ,500,24px);
               color:$color-white;
               margin-left: 8px;
          }
     }
    
    
    
}
.icons__list{
     display: flex;
     
     

}
.icons__link{
     margin-right: 16px;
}

